---
import {
  IconArrowBlack,
  IconArrowWhite,
  IconArrowRight,
  IconGitHub
} from "../components/Icons";
import Layout from "../layouts/Layout.astro";

import { works, skills, jobs } from "../data/data.json";
import Tag from "../components/Tag.astro";
import Button from "../components/Button.astro";
---

<Layout title="Welcome to my Portafolio">
  <main class="flex flex-col gap-32 py-20 max-w-[800px]">
    <section
      class="flex flex-col gap-10"
    >
      <article class="flex flex-row-reverse gap-10">
        <h1 class="text-6xl font-extrabold leading-snug">
          Hi, I`m Fidel Miranda, frontend developer
        </h1>
        <picture class="w-[200px] h-[200px] flex-none">
          <img
          src="/logo.png"
          alt="logo"
          class="w-full h-full"
        />
        </picture>
      </article>

      <Button
        target="_blank"
        href="https://drive.google.com/file/d/1iFWqfRCOrkGZ0DIorNyWAsf4eAaAFoti/view?usp=drive_link"
        variant
        >Download CV in pdf
      </p>

     
    </section>

    <section class="flex flex-col gap-5">     
        <h2 class="text-6xl font-extrabold">About Me</h2>
        <p class="leading-snug text-2xl">
          Passionate about web design and development, committed to offering
          innovative and effective solutions for each project.
        </p>
    </section>

    <section
      class="flex flex-col gap-5"
    >
      <h2 class="text-6xl font-extrabold">Work Experience</h2>
      <ul class="flex flex-col gap-10">
        {
          works.map((work) => {
            return (
              <li class="flex flex-col gap-2">
                <p class="font-extrabold text-2xl">{work.name}</p>

                <p class="italic font-extralight text-xl">{work.position}</p>

                <div class="h-[1px] w-full bg-[#333]" />

                <p class="italic font-extralight ">{work.description}</p>

                
              </li>
            );
          })
        }
      </ul>
    </section>

    <section
      class="relative flex flex-col gap-10"
    >
      <h2 class="text-3xl font-extrabold">Skills</h2>
      <ul class="flex flex-wrap gap-10 z-20">
        {
          skills.map((skill) => {
            return (
              <li class="group relative cursor-pointer text-white">
                {skill.image ? (
                  <img
                    src={`/${skill.image}`}
                    alt={skill.name}
                    width="32px"
                    height="32px"
                    class="transition-all group-hover:scale-110"
                  />
                  <tool-tip style={`background: ${skill.bgColor}; color:${skill.color ? skill.color : 'white'}`} class={`absolute text-sm -bottom-14 px-5 py-3 transition-all opacity-0 rounded-md -left-1/2 z-20 uppercase shadow-md group-hover:opacity-100`}>{skill.name}</tool-tip>
                ) : (
                  <span style={`background: ${skill.bgColor}`} class="text-sm px-5 py-3 rounded-md uppercase">{skill.name}</span>
                )}
              </li>
            );
          })
        }
      </ul>
    </section>

  <section>
  <ul class="flex flex-col gap-20">
    {
      jobs.map((job) => {
        return <li class="flex flex-col gap-10">
        <div class="flex flex-col md:flex-row gap-5">
          <picture class="max-w-[400px]"><img src={job.image} alt={job.name} /></picture>
         
         <div class="flex flex-col gap-5">
          <p>{job.description}</p>
          
          <div class="flex flex-wrap gap-2">
              {
            job.tools.map(tag => {
              return <Tag name={tag} />
            })
          }
          </div>
         </div>
        </div>
         <div class="flex flex-wrap gap-5">
         {
          job.github && <Button href={job.github}>
             github
             <IconGitHub/>
          </Button>
          }
        <Button href={job.site}  variant>
          {job.name} <IconArrowRight/>
          </Button>
         </div>
        </li>
      })
    }
  </ul>
  </section>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
